<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>featurePreview.py</string>
			<key>preferredName</key>
			<string>Feature Preview</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>TypeMyType </string>
	<key>developerURL</key>
	<string>http://www.typemytype.com</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>FeaturePreview</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>2</string>
	<key>timeStamp</key>
	<real>1482146721.0</real>
	<key>version</key>
	<string>1.2.1</string>
	<key>com.robofontmechanic.Mechanic</key>
	<dict>
		<key>repository</key>
		<string>typemytype/featurePreviewRoboFontExtension</string>
		<key>summary</key>
		<string>Preview OpenType features.</string>
	</dict>
</dict>
</plist>
